@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Germania+One&display=swap');

:root{
    --azul: rgb(2, 79, 221);
--branco: rgb(255, 255, 255);
--vermelho: rgb(204, 1, 1);
--preto: rgb(0, 0, 0);

--Titulo:"Germania One", system-ui;
--Texto:"Bebas Neue", sans-serif;

}
*{
margin: 0;
padding: 0;

}


body{
background-color: var(--vermelho);
font-family: var(--Texto);



}
header{

  background-color: var(--vermelho);
text-align: center;
padding: 20px;


}
.capa{

  width: 100%;


}
.caixa-conteudo{

margin: 30px;
border: 2px dotted;
padding: 20px;
text-align: center;

}
.caixa-conteudo{

  font-family: var(--Titulo);
font-size: 32px;
color: var(--preto);

}
.conteudo-texto{

  margin: 24px 0;
  font-family: var(--Texto);
}