@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Germania+One&display=swap');

:root{
    --azul: #05668dff;
--branco: rgb(255, 255, 255);
--laranja: rgb(255, 166, 0);
--verde: rgb(23, 129, 1);

--Titulo:"Germania One", system-ui;
--Texto:"Bebas Neue", sans-serif;

}
*{
margin: 0;
padding: 0;

}


body{
background-color: var(--azul);
font-family: var(--Texto);



}
header{

  background-color: var(--laranja);
text-align: center;
padding: 20px;


}
.capa{

  width: 100%;


}