@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Germania+One&display=swap');

:root{
    --azul: #05668dff;
--azul2: #028090ff;
--verde: #00a896ff;
--verde2: #02c39aff;

--Titulo:"Germania One", system-ui;
--Texto:"Bebas Neue", sans-serif;

}

body{
background-color: var(--azul);
font-family: var(--Texto);



}
